<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
    <key>Label</key>
    <string>am.theiostre.spotlightplus.cydiad</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Library/SearchLoader/Daemons/CydiaDaemon</string>
    </array>
    
    <key>StartCalendarInterval</key>
    <dict>
    	<key>Minute</key>
	<integer>0</integer>
	<key>Hour</key>
	<integer>0</integer>
    </dict>
</dict>
</plist>
