<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSTypeIsPackage</key>
	<true />
	<key>SPCategory</key>
	<string>CydiaSearch</string>
	<key>SPDisplayIdentifier</key>
	<string>com.saurik.Cydia</string>
	<key>SPSearchBundle</key>
	<string>CydiaSearch</string>
	<key>SPDatastoreVersion</key>
	<integer>1</integer>
	<key>TLDisplayName</key>
	<string>Cydia</string>

	<key>TLCorrectURL</key>
	<true />
	<key>TLCorrectURLStartDelimiter</key>
	<string>name&#x1f;</string>
	<key>TLCorrectURLEndDelimiter</key>
	<string>&#x1e;</string>
	<key>TLCorrectURLFormat</key>
	<string>cydia://package/%@</string>

	<key>TLQueryLengthMinimum</key>
	<integer>3</integer>
</dict>
</plist>
